 <form class="form-horizontal">

  {{yield (hash
          row=(component "po-admin/form/row")
          label=(component "po-admin/form/label")
          inputContainer=(component "po-admin/form/input-container"))}}


</form>