<div style="margin-bottom: 50px;">
  {{po-utils/calendar-filter
    options=instructorFilters
    selected=instructorFilter
    placeholder="Instructor type"
  }}

  {{po-utils/calendar-filter}}
  {{po-utils/calendar-filter}}
</div>
