.header {
  display: flex;
}

.instructorHeader {
  flex: 0 0 190px;
  font-size: 18px;
}

.day {
  width: 100%;
  font-size: 20px;
}

.hour {
  width: 100%;
  font-size: 16px;
}

.hiddenHour {
  width: 50%;
}
