<div local-class="header">
  <div local-class="instructorHeader"></div>
  {{#each days as |day|}}
    <div local-class="day">{{moment-format day "ddd"}} ({{moment-format day "D MMM" }})</div>
  {{/each}}
</div>

<div local-class="header">
  <div local-class="instructorHeader">Instructor</div>
  {{#each days as |day|}}
    {{#each hourHeaders as |hourHeader|}}
      <div local-class="hour">{{hourHeader}}</div>
    {{/each}}
    <div local-class="hiddenHour"></div>
  {{/each}}
</div>
