.row {
  display: flex;
  line-height: 26px;
  height: 26px;
  font-size: 16px;
}

.instructor {
  flex: 0 0 190px;
  border-right: solid 1px #aaa;
}


.timePeriod {
  width: 100%;
  border-top: solid 1px #aaa;
  border-right: solid 1px #aaa;

  &:nth-child(2n) {
  }
}

.firstTimePeriodOfDay {
  border-left: 1px solid #aaa;
}

.new-lesson-link {
  display: block;
  height: 100%;
}
