.row {
  display: flex;
}

.instructor {
  flex: 0 0 200px;
  border-right: solid 1px #aaa;
}


.timePeriod {
  width: 100%;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-right: solid 1px #aaa;
  height: 22px;
}
