<div local-class="row" class="instructor-row">
  <div local-class="instructor">{{instructor.name}}</div>
  {{#each timePeriods as |timePeriod|}}
    <div local-class="timePeriod {{if (eq timePeriod.isFirstOfDay true) "firstTimePeriodOfDay"}}" class="timePeriod"> </div>
  {{/each}}

  {{#each lessons as |lesson|}}
    {{lesson-calendar/lesson
      lesson=lesson
      leftOffsetOfFirstTimeslot=leftOffsetOfFirstTimeslot
      widthOf1MSInPx=widthOf1MSInPx
      workingDayDurationInMS=workingDayDurationInMS
      account=account
    }}
  {{/each}}
</div>
