<ul>

<li>{{link-to "Instructors" "session.admin.instructors" }}</li>

<li>LESSONS</li>
<li>{{link-to "Lesson Levels" "session.admin.lesson.levels"}}</li>
<li>{{link-to "Lesson Categories" "session.admin.lesson.categories"}}</li>
<li>{{link-to "Lesson Plans" "session.admin.lesson.plans"}}</li>
</ul>
