<header local-class="header">
  <nav local-class="nav">
    {{#link-to "session.calendar" local-class="icon"}}<i class="fa fa-calendar"></i>{{/link-to}}
    {{#link-to "session.admin" local-class="icon"}}<i class="fa fa-cog"></i>{{/link-to}}

    {{#link-to "session.logout" local-class="rightIcon icon"}}<i class="fa fa-sign-out"></i>{{/link-to}}
  </nav>
</header>