  <div local-class="calendar">
    {{lesson-calendar
      instructors=instructors
      weekStartDate=weekStartDate
      account=account
    }}
  </div>

  <div local-class="info-menu">
    Woah there - this is the info menu!
  </div>
