<div local-class="calendar">

{{lesson-calendar/header days=daysOfWeek}}

{{#each instructors as |instructor|}}
  {{lesson-calendar/instructor-row
    account=account
    instructor=instructor
    timePeriods=timePeriods
    lessons=(get lessonsByInstructorId instructor.id)
    leftOffsetOfFirstTimeslot=leftOffsetOfFirstTimeslot
    widthOf1MSInPx=widthOf1MSInPx
  }}
{{/each}}
</div>