.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin: 0; // something from bootstrap?
}
