.dragHandle {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  padding-right: 10px;
  visibility: hidden;
  min-height: 40px;
  line-height: 40px;
}

.row {
  display: flex;
  width: 100%;
  min-height: 40px;
  align-items: stretch;
  border-bottom: solid 1px #1b6d85;
  line-height: 40px;
}

.editModelLink {
  display: flex;
  width: 100%;
  color: #333333;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;

  &:hover {
    .dragHandle {
      visibility: visible;
    }
    .row {
      background-color: #e0e0f0;
    }
  }
}

.empty-list {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}
